.helpContent {
  padding: 0 16px 16px;
  height: calc(100vh - 160px);
  overflow: auto;
}

body {
  height: 100vh;
  overflow: hidden;
}

.linkJoin {
  text-decoration: none;
  color: #43b5e4;
}

.headSection {
  margin-bottom: 32px;
  margin-top: 48px;
  display: flex;
  justify-content: space-between;
}

.arrowLeft {
  width: 32px;
  height: 32px;
  cursor: pointer;
}

.headline {
  font-size: 47px;
  font-weight: 700;
}

.subheader {
  font-size: 27px;
  font-weight: 700;
  margin-bottom: 16px;
  margin-top: 16px;
}

.helpText {
  margin-top: 16px;
}

.stepByStep {
  display: flex;
  margin-top: 16px;
}

.step {
  font-size: 27px;
  font-weight: 700;
  margin-right: 35px;
}

.stepHeader {
  font-size: 20px;
  font-weight: 700;
}

@media (min-width: 1100px) {
  .helpContent {
    height: 100vh;
  }

  .mainContainer {
    padding-left: 96px;
    padding-right: 96px;
  }

  ::-webkit-scrollbar {
    width: 0;
  }
}

