body {
  background-color: #F7F8F9;
}

.joinLogo {
  margin-top: 38px;
  margin-left: 37px;
  margin-bottom: 50px;
  width: 64px;
  height: 78px;
}

.signUpForm {
  display: flex;
  flex-direction: column;
  margin-left: 16px;
  margin-right: 16px;
  gap: 24px;
  position: relative;
  padding: 32px 16px;
  box-shadow: 0 0 14px 3px rgba(0, 0, 0, 0.04);
  border-radius: 30px;
  background-color: #fff;
}

.arrowBack {
  height: 32px;
  width: 32px;
  position: absolute;
  left: 24px;
  top: 40px;
  cursor: pointer;
}

.headlineUnderline {
  width: 88px;
  border: 3px solid #29abe2;
  display: inline-block;
  border-radius: 3px;
}

.signUpHeadline {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  font-size: 47px;
  font-weight: 700;
}

.signUpLabel {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  padding: 12px 21px;
  border: 1px solid #d1d1d1;
  border-radius: 10px;
}

.errorMessage {
  color: #ff8190;
  font-size: 12px;
  display: none;
  margin: -20px 0;
}

#signUpLabelConfirmPassword:focus+img {
  content: none;
}

.errorInput {
  border: 1px solid #ff8190 !important;
}

.signUpLabel input {
  border: none;
  outline: none;
  font-size: 20px;
  width: 100%;
}

.signUpLabel:focus {
  border-color: #29abe2;
}

.signUpCheckboxLabel {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4px;
  margin-top: 8px;
}

.signUpCheckboxLabel a {
  color: #29abe2;
  text-decoration: none;
}

.customCheckbox {
  appearance: none;
  margin-right: 4px;
  background-image: url(/img/Mobile/LogIn/checkbox.png);
  height: 24px;
  width: 24px;
  background-repeat: no-repeat;
  cursor: pointer;
}

.customCheckbox:checked {
  background-image: url(/img/Mobile/LogIn/checkboxChecked.png);
}

.signUpBtnContainer {
  display: flex;
  justify-content: center;
  margin-top: 8px;
}

.primaryBtn {
  width: 180px;
  height: 51px;
  padding: 4px 0;
}

.primaryBtn:disabled, .primaryBtn:disabled:hover {
  opacity: 0.5;
  background-color: #091931;
  box-shadow: none;
  cursor: not-allowed;
}

.footerLogin {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
  margin-top: 42px;
}

.footerLogin a {
  color: #a8a8a8;
  padding: 8px;
  text-decoration: none;
}

.footerLogin a:active {
  color: #29abe2;
  font-weight: 700;
}

.showPasswordImg {
  content: url(./img/Mobile/LogIn/visibilityIconLogIn.png) !important;
}

.hidePasswordImg {
  content: url(./img/Mobile/LogIn/visibilityOffIconLogIn.png) !important;
}

#signUpPasswortConfirmImg {
  cursor: pointer;
}

#signUpPasswortImg {
  cursor: pointer;
}

.successfullyMessage {
  background-color: #2a3647;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ffffff;
  font-size: 20px;
  border-radius: 20px;
  box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.15);
  position: absolute;
  bottom: 240px;
  z-index: 10;
  width: 326px;
  height: 76px;
}

.backgroundSuccessfullyMessage {
  display: flex;
  justify-content: center;
}

@keyframes slideInBottom {
  0% {
    transform: translateY(220px);
  }

  100% {
    transform: translateY(0);
  }
}

.slideInBottom {
  animation: slideInBottom 300ms ease-out 0s 1 normal forwards;
}

@media (min-width: 1100px) {
  body {
    margin: 80px 80px 0 80px;
    overflow: hidden;
  }

  .headerLogin {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
  }

  .joinLogo {
    margin: 0;
    height: 122px;
    width: 100px;
  }

  .loginForm {
    width: 652px;
  }

  main {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .signUpForm {
    width: 598px;
    height: 630px;
    padding-left: 88px;
    padding-right: 88px;
  }

  .signUpHeadline {
    font-size: 61px;
  }

  .signUpLabel {
    margin-top: 8px;
  }

  .headlineUnderline {
    width: 150px;
  }

  .primaryBtn {
    width: 126px;
    height: 55px;
    font-size: 21px;
    font-weight: 700;
    transition: ease-in-out 100ms;
  }

  .primaryBtn:hover {
    background-color: #29abe2;
    color: fff;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
  }

  header {
    margin: 0;
  }

  .footerLogin a {
    width: 130px;
  }

  .footerLogin a:hover {
    color: #29abe2;
    font-weight: 700;
  }
}